doctype html
html(ng-app='app')
    head
        link(rel='stylesheet', href='styles.css', type='text/css' )
        script(src='vendor/jquery/dist/jquery.js')

        script(src='vendor/isotope/dist/isotope.pkgd.js')
        script(src='vendor/angular/angular.js')

        script(src='script.js')
    body
        h1 Playground

        div(ng-controller='feedcontroller')
            h2 This is the news feed

            //Load Button
            //button(ng-click='readyload()') READY
            .news-feed-append
                button.button Append

            .news-feed-filter.button-group
                button.button.is-checked(data-filter='*') show all
                button.button(data-filter='.fb') Facebook
                button.button(data-filter=':not(.fb)') NotFacebook
                button.button(data-filter='.tw') Twitter
                button.button(data-filter='.in') Instagram

            .news-feed-sorts.button-group
                button.button.is-checked(data-sort-by='original-order') original order
                button.button(data-sort-by='type') Type
                button.button(data-sort-by='title') Title
                button.button(data-sort-by='date', reverse) Date

            .news-feed
                //Old initial posts
                //post(ng-repeat='post in posts', type='{{post.type}}', title='{{post.title}}', date='{{post.date}}')
