h1
  color: blue

.button:active,
.button.is-checked
  background-color: #28F

.post
  margin: 10px

  &.fb
    background-color: blue

  &.tw
    background-color: lightskyblue

  &.in
    background-color: saddlebrown

  &.pt
    background-color: red

  &.gp
    background-color: green

